.age {
  min-height: 600px;
  background: $light-blue;
  display: flex;
  justify-content: center;
}
.age-wrapper {
  margin-top: 100px;
  width: calc(100% - 2 * (100% / 12));
  max-width: 1280px;

  background: url('../img/bg_age.svg') no-repeat;
  background-position: bottom center;
  background-size: contain;
}
.age-container {
  text-align: center;
}
