.age {
  background: $light-blue;
}
.age-wrapper {
  height: 500px;
  margin: auto;
}
.age-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.container-text-block {
  text-align: center;
}
.age-title {
  font-size: 3.5rem;
  letter-spacing: 0.7px;
  margin-top: 90px;
  margin-bottom: 30px;
}
.age-img {
  display: block;
  width: 80%;
  height: auto;
  margin-bottom: -15px;
}
