.footer {
  min-height: 306px;
  border-top: 3px solid $footer-top-border;
  border-bottom: 1px solid $footer-bottom-border;
}
.footer-container {
  width: 38%;
  margin: auto;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  margin: 35px 0;
}
.item-link {
  display: block;
  padding: 0.5rem 0.35rem;
  font-size: 1.14rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $footer-link;
}
.footer-nav-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 42px;
}
.nav-social-item:not(:last-child) {
  margin-right: 54px;
}
.social-link {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
  img {
    width: 20px;
    height: 20px;
  }
}
.info-block {
  color: $light-grey;
  text-align: center;
  letter-spacing: 2px;
  .address {
    font-style: normal;
  }
  .address,
  & > p {
    margin-bottom: 17px;
  }
  .phone {
    color: $light-grey;
  }
  .email {
    color: $light-brown;
  }
}
.copyright-wrapper {
  margin: 28px auto 55px;
}
.copy {
  color: $light-grey;
  text-align: center;
}
