*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  color: white;
  border: 1px solid $light-grey;
  margin-bottom: 20px;
  box-shadow: 0 0 10px $light-grey;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.title {
  font-size: 3.4rem;
  font-weight: 900;
  letter-spacing: 1px;
}
.info-text {
  font-size: 1.3rem;
  line-height: 1.6;
}
.btn {
  display: inline-block;
  padding: 20px 66px;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: white;
}
.btn-brown {
  background: $light-brown;
  border-bottom: 10px solid $dark-brown;
}
.btn-blue {
  background: $light-blue;
  border-bottom: 10px solid $dark-cyan;
}
.underline {
  border-bottom: 5px solid $light-blue;
  padding-bottom: 16px;
}
.slogan {
  letter-spacing: 1.8px;
  font-style: italic;
}
