.join-us {
  margin-bottom: 64px;
}
.join-us-container {
  // background: $dark-blue;
  display: flex;
}

.join-us-img {
  width: 50%;
  height: auto;
  order: 1;
}
.join-us-cta {
  background: $dark-blue;
  padding: 35px 54px 35px 40px;
  order: 2;
  .cta-title {
    padding: 30px 0;
    letter-spacing: 2px;
  }
  .underline {
    padding-bottom: 10px;
  }
  .cta-text {
    padding-bottom: 40px;
  }
  .btn-cta {
    padding: 20px 28px;
  }
}
