:root {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
$light-blue: #00b5d2;
$middle-blue: #0067ac;
$blue: #1b97c5;
$dark-blue: #367ab7;
$dark-grey: #4e4846;
$dark-cyan: #008ea5;
$dark-grey: #4e4846;
$middle-grey: #444444;
$grey: #777;
$light-grey: #cfcfcf;
$light-brown: #e1aa6e;
$dark-brown: #ba8e5b;
$footer-top-border: #ccc;
$footer-bottom-border: #eee;
$footer-link: #999;
